body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #000000;
    cursor: default;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background: #ffffff; 
}

* {
    scroll-behavior: smooth;
}

.none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

::-webkit-scrollbar {
    width: 0;
}


